* {
  box-sizing: border-box;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

body,
html {
  height: 100%;
}

body {
  background: #152238;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.lvl {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.room {
  border: 2px solid white;
  width: 128px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.room:focus {
  border: 2px solid #fabd02;
}

.inp-el {
  width: 124px;
  height: 62px;
  background: #152238;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.inp-el:focus {
  outline: none;
}

.node {
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}