<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/game.css">
  <script src="/js/game.js" type="module"defer></script>
  <title>Click_Me</title>
</head>

<body>
  <div class="counter-container">
    <h1>You clicked: <span id="times-clicked">1</span></h1>
  </div>
  <div class="main-btn centered" id="main-button">Click Me!</div>
</body>

</html>