body {
  gap: 64px
}

.main-btn {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 125px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.counter-container {
  display: none;
}

.visible {
  display: block;
}